.boton-amarillo {
    @include boton($amarillo, inline-block);
}

.boton-amarillo-block {
    @include boton($amarillo, block);
}

.boton-verde {
    @include boton($verdeO, inline-block);
    // border-radius: 2rem;
}
.boton-rojo-block {
    @include boton($rojo, block);
    width: 100%;
}
.boton-verde-block {
    @include boton($verdeNigga, block);
    border-radius: 3rem;
    // margin: 2rem 2 2rem 2;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-block-end: 1rem;
    font-size: 1.4rem;
}