.footer {
    padding: 1rem 0 1rem 0 ;
    background-color: black;
    margin-bottom: 0;

    .contenido-footer {
        padding-top: calc($separacion / 2);
    }

    .navegacion {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        // padding-top: 3rem;
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            legend {
                margin-top: -6rem;

            }
        }
        visibility: visible;
        opacity: 1;
        height: auto;
        .carrito {
            width: 4rem;
            margin-top: 3rem;
            margin-bottom: 1rem;
            filter: invert(100%);
            // width: 4rem;
            // margin-top: 3rem;
            // margin-bottom: 1rem;
            // filter: invert(100%);
            // margin-right: 2rem;
            &:hover {
                cursor: pointer;
            }
    
            @include tablet {
                margin-top: 0;
            }
        }
        legend {
            
                background-color: black;
                border: 1px solid black;
                color: $blanco;
                font-size: 1.8rem;


                // cursor: none;
            
        }
    }

    .copyright {
        color: $blanco;
        text-align: center;
    }
}