.mikeDick {
    font-family: Verdana,Geneva,Tahoma,sans-serif;
    text-transform: uppercase;
    margin-top: 10rem;
    transform:scaleY(1.1);
}
.forma {    
    background-color: $verde;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    input {
        width: 70%;
      }
}
.mikeuwu {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    p {
        text-transform: uppercase;
        color: $blanco;
    }
    margin: 5rem;
    a {
        color: $blanco;
        text-decoration: none;
        font-size: 1.5rem;
        display: flex;
        text-align: center;
        font-weight: $delgada;
        font-family: Verdana, Geneva, Tahoma, sans-serif;}
        text-align: left;
        // margin-left: 3rem;
    .sinuwu {
        img {
            width: 40%;
            // margin-left: 0;
        }
        margin-left: auto;
        display: flex;
        justify-content: center;
        // flex-direction: row;
       
    }
    @include tablet {
            
        .sinuwu {

            img {
                width: 35%;
                // height: 100%;
            }
        }
    }


}
.myke {
    margin-top: -20rem;
}
@include telefono3 {
    .mikeuwu {
        display: flex;
        // grid-template-columns: 1fr;
        flex-direction: row;
    }
}
.mikeuwu2 {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    p {
        text-transform: uppercase;
        color: $blanco;
    }
    margin: 5rem;
    column-count: 3;
    column-gap: 80px;
    a {
        color: $blanco;
        text-decoration: none;
        font-size: 1.5rem;
        display: flex;
        text-align: center;
        font-weight: $delgada;
        font-family: Verdana, Geneva, Tahoma, sans-serif;}
        text-align: left;
}
@include telefono3 {
    .mikeuwu2 {
        display: flex;
        // grid-template-columns: 1fr;
        flex-direction: row;
    }
}

.formulari {
    .boton {
        margin: auto;
        width: 80%  ;
        margin-top: 4rem;
        background-color: $verdeO;
    }
    a{
        color: $blanco;
        
    }
    ::placeholder { color: $azulnigga;
    font-weight: 700;}
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 8rem;
    input,
    textarea, 
    select {
        padding: 1.6rem;
        background-color: $blanco;
        border: 3px solid $azulnigga;
        border-radius: 1rem;
        margin-bottom: 2rem;
        margin: 1rem;
    }
    textarea {
        height: 15rem;
    }
    
    
    .mikecontacto {
        display: flex;
        flex-direction: column;
        
    }
    @include telefono3 {
        .mikecontacto {
            display: grid;
            grid-template-columns: 1fr 1fr;  
        }
        .boton {
            width: 30rem;
        }
    }

}
.formulario {
    input:not([type="submit"]),
    textarea, 
    select {
        padding: 1rem;
        display: block;
        width: 60rem;
        background-color: $blanco;
        border: 1px solid $gris;
        border-radius: 1rem;
        margin-bottom: 2rem
    }

    textarea {
        height: 20rem;
    }

    .forma-contacto {
        max-width: 30rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}